/* GENERAL */

* {
    box-sizing: border-box;
    --body: rgb(238, 249, 191);
    --title: #75B79E;
    --card: #A7E9AF;
    --card--border: #99CEA8;
    --stopwatch: red;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--body);
}


/* HEADER */

header {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    position: relative;
}

header h1 {
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    color: var(--title);
}

header p {
    position: absolute;
    right: 0;
    bottom: 0;
    color: var(--stopwatch);
    font-weight: 700;
    font-size: 20px;
}


/* MAIN */

main {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
}

.card {
    width: 117px;
    height: 146px;
    position: relative;
    margin: 0 17px 34px;
}

.face {
    width: 100%;
    height: 100%;
    background-color: var(--card);
    border: 1px solid var(--card--border);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.face img {
    height: 100px;
    width: 100px;
}

.front-face {
    transform: rotateY(180deg);
}

.back-face-rotate {
    transform: rotateY(-180deg);
}

.front-face-rotate {
    transform: rotateY(0deg);
}
